{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}

<style>
  body{
  margin-bottom: 2;
  }
.flash {
            background-color: #f8d7da;
            color: #721c24;
            padding: 1rem;
            border-radius: 4px;
            margin-bottom: 1rem;
            text-align: center;
        }
</style>

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/login-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5 my-4">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading" style="text-align: center;">
          <h1>Sign Up!</h1>
          <span class="subheading">Please sign up to start adding items to your cart</span>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
<main class="form-signin w-100 m-auto mb-4 px-5">
    <div class="container">
        <div class="row justify-content-center">
      <!-- Adding Flash message here for users trying to register twice -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="col-lg-8 col-md-10 mx-auto">
        <!--Rendering login form here-->
        {{render_form(form, novalidate=True, button_map={"submit": "secondary"}) }}
      </div>
    </div>
  </div>
</main>

    {{ bootstrap.load_js() }}

</body>
{% include "footer.html" %}
{% endblock %}
